<nav class="main-nav" aria-label="Main navigation">
    <NavLink href="/" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink href="/products">Products</NavLink>
    <NavLink href="/search">Search</NavLink>
    <NavLink href="/cart">Cart</NavLink>
    <NavLink href="/account/orders">Orders</NavLink>
    <NavLink href="/services">Services</NavLink>
    <NavLink href="/boarding">Boarding</NavLink>
    <NavLink href="/account">Account</NavLink>
</nav>

